@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* #dev-root {
    width: 1210px;
    height: 735px;
} */

.App {
    background-image: url("https://i.postimg.cc/k5K4N7TS/bgimage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Inter";
    overflow-x: hidden;
}

@media (1024px <= width) {
    .App {
        height: 90vh;
    }
}
@media (1024px > width) {
    .App {
        height: 100vh;
    }
}
